name: build-and-push-ghcr.yml
on:
  push:
    branches: [ "main" ]
    tags: [ "*.*.*" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}
    permissions:
      contents: read
      packages: write
    steps:
    - name: Check out the repository
      uses: actions/checkout@v6

    - name: Generate image metadata
      id: meta
      run: |
        echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
        echo "timestamp=$(date +%s)" >> $GITHUB_OUTPUT
        echo "owner=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push Docker image
      uses: docker/build-push-action@v6.19.2
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ghcr.io/${{ steps.meta.outputs.owner }}/dockerized-hover-ddns:${{ steps.meta.outputs.sha_short }}
          ghcr.io/${{ steps.meta.outputs.owner }}/dockerized-hover-ddns:${{ steps.meta.outputs.timestamp }}
          ghcr.io/${{ steps.meta.outputs.owner }}/dockerized-hover-ddns:latest

  tag-release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Get release and repo metadata
      id: meta
      run: |
        echo "sha_short=$(echo '${{ github.sha }}' | cut -c1-7)" >> $GITHUB_OUTPUT
        echo "owner=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
        echo "release_tag=${{ github.ref_name }}" >> $GITHUB_OUTPUT

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Tag release with skopeo
      run: |
        SOURCE="docker://ghcr.io/${{ steps.meta.outputs.owner }}/dockerized-hover-ddns:${{ steps.meta.outputs.sha_short }}"
        TARGET="docker://ghcr.io/${{ steps.meta.outputs.owner }}/dockerized-hover-ddns:${{ steps.meta.outputs.release_tag }}"
        skopeo copy --all "$SOURCE" "$TARGET"
