name: build-and-push-ghcr.yml
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Check out the repository
      uses: actions/checkout@v6

    - name: Generate image metadata
      id: meta
      run: |
        echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
        echo "timestamp=$(date +%s)" >> $GITHUB_OUTPUT
        echo "owner=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6.19.2
      with:
        context: .
        push: true
        tags: |
          ghcr.io/${{ steps.meta.outputs.owner }}/dockerized-hover-ddns:latest
          ghcr.io/${{ steps.meta.outputs.owner }}/dockerized-hover-ddns:${{ steps.meta.outputs.sha_short }}
          ghcr.io/${{ steps.meta.outputs.owner }}/dockerized-hover-ddns:${{ steps.meta.outputs.timestamp }}
